riddles.aux
riddles.fdb_latexmk
riddles.fls
riddles.log
riddles.out
riddles.synctex.gz
riddles.toc
riddles.aux
simple.aux
a_little_more_complicated_than_simple.aux
answer_for_a_little_more_complicated_than_simple.aux
answer_for_simple_riddles.aux
answer_for_medium_riddles.aux